<h1>Welcome <%= current_user.email %></h1>
<div id="table_div"></div>
<script type="text/javascript">
	function drawTable() {
		var data = new google.visualization.DataTable();

		data.addColumn('string', 'Title');
		data.addColumn('string', 'Magnitude');
		data.addColumn('string', 'Place');
		data.addColumn('string', 'Date');

		<% current_user.earthquakes.each do |earthquake| %> 
		data.addRows([
			['<%= earthquake.title %>',  '<%= earthquake.magnitude %>', '<%= earthquake.place %>', '<%= Time.at(earthquake.time/1000) %>']

			]);
		<% end %>

		var table = new google.visualization.Table(document.getElementById('table_div'));

		table.draw(data, {showRowNumber: false});
	}
	google.load("visualization", "1", {packages:["table"], callback: drawTable})
</script>